@model Content


@if (Model is Movie movie)
{
    var truncedOverview = movie.TmdbMovie.Overview;
    var trunctedTitle = movie.TmdbMovie.Title;

    if (truncedOverview.Count() > 50)
    {
        truncedOverview = truncedOverview.Substring(0, 50) + "...";
    }

    if (trunctedTitle.Count() > 17)
    {
        trunctedTitle = trunctedTitle.Substring(0, 17) + "...";
    }

    <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="@movie.Poster" alt="Affiche du film">
        <div class="card-body">
            <h5 class="card-title">@trunctedTitle</h5>
            <p class="card-text">@truncedOverview</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" href="@movie.Url" class="btn btn-sm btn-outline-secondary">Aperçu</a>
                </div>
                <small class="text-muted">@movie.TmdbMovie.ReleaseDate</small>
            </div>

            <div>
                @foreach (var tag in movie.Tags)
                {
                    <span class="badge badge-primary px-3 py-2 my-2">@tag</span>
                }
            </div>
        </div>
    </div>
}