@page "/imported/movie"
@page "/"

@using System.Timers
@using MovManagerr.Core.Data.Abstracts
@using System.IO;
@using MovManagerr.Core.Infrastructures.DataAccess;
@using System.ComponentModel;
@inject DialogService DialogService
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager
@inject DbContext DbContext
@inject IMovieService movieService
@inject ContextMenuService ContextMenuService


<div class="row">
    <div class="col-12">
        <RadzenCard>
            <RadzenButton IsBusy=CurrentlyScanAll ButtonStyle="ButtonStyle.Secondary" Variant=Variant.Filled Shade=Shade.Lighter Click="((args) => ScanAll())" Text="Tous scanner les fichiers"></RadzenButton>
            <RadzenButton IsBusy=IsDeletingUnfounded ButtonStyle="ButtonStyle.Danger" Variant=Variant.Filled Shade=Shade.Lighter Click="((args) => DeleteUnfoundedDownload())" Text="Syncroniser base de donnée avec élément restant"></RadzenButton>
        </RadzenCard>
    </div>
</div>


<RadzenDataGrid ColumnWidth="100px" AllowColumnReorder=true AllowColumnResize=true Data="@movies" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TItem="Movie" FilterMode="FilterMode.Advanced" PageSize=10 PagerPosition="@PagerPosition.Bottom" PagingSummaryFormat="@pagingSummaryFormat"
                ShowPagingSummary=true AllowPaging="true" AllowSorting="true" @bind-Value=@selectedMovies SelectionMode="DataGridSelectionMode.Single" CellContextMenu="@OnCellContextMenu">
    <Columns>
        <RadzenDataGridColumn TItem="Movie" Width="350px" Property="TmdbMovie.OriginalTitle" Title="Nom du film">
            <Template Context="detail">
                <div class="row">
                    <div class="col-12 d-flex" style="gap: 10px; align-items: center">
                        <div>
                            <RadzenImage Path="@detail.GetCorrectedPoster()" class="rz-gravatar" Style="border-radius: 0px !important" />
                        </div>
                        @if (detail.TmdbMovie != null)
                        {
                            <p>
                                <b>@detail.TmdbMovie.OriginalTitle</b> (<small>@detail.TmdbMovie?.ReleaseDate.GetValueOrDefault().Year</small>)
                            </p>
                        }
                    </div>
                </div>

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Movie" Title="Bitrate maximal" Property="MaxBitrate">
            <Template Context="detail">
                @{
                    bool isScanned = detail.HasAnyScannedFile();
                }

                <div class="row">
                    <div class="col-12 d-flex" style="gap: 30px; align-items: center">
                        <div>
                            <div>
                                <small>Bitrate maximal</small>
                            </div>
                            <div>
                                <b>@(isScanned ? $"{detail.GetMaxBitrate().ToString("0.00")} mb/s" : "Non scanné")</b>
                            </div>
                        </div>
                    </div>
                </div>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Movie" Sortable=false Title="Qualité" Property="MaxBitrate">
            <Template Context="detail">
                @{
                    bool isScanned = detail.HasAnyScannedFile();
                }

                <div class="row">
                    <div class="col-12 d-flex" style="gap: 30px; align-items: center">
                        <div>
                            <div>
                                <small>Qualité</small>
                            </div>
                            <div>
                                <b>@(isScanned ? $"{detail.GetBestQuality()}" : "Non scanné")</b>
                            </div>
                        </div>
                    </div>
                </div>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Movie" Title="Espace totale" Property="FileSize">
            <Template Context="detail">
                @{
                    bool isScanned = detail.HasAnyScannedFile();
                }

                <div class="row">
                    <div class="col-12 d-flex" style="gap: 30px; align-items: center">
                        <div>
                            <div>
                                <small>Taille</small>
                            </div>
                            <div>
                                <b>
                                    (
                                    @(string.Join(", ", detail.DownloadedContents.Select(x => x.FileSize)))
                                    )
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Movie" Width="180px" Property="NbFiles" Title="Nombre fichiers">
            <Template Context="detail">
                <div class="row ">
                    <div class="col-4  text-left">
                        <div>
                            <small>Nombre fichié</small>
                        </div>
                        <div>
                            @detail?.NbFiles
                        </div>
                    </div>
                    <div class="col-8 text-right">
                    </div>
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    IEnumerable<Movie> movies;

    bool CurrentlyScanAll = false;

    string pagingSummaryFormat = "Page {0} sur {1} (total {2} films)";

    int count;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        movies = DbContext.Movies.GetDownloadedMovies();
        count = movies.Count();
        selectedMovies = movies.Take(1).ToList();


        if (!Preferences.Instance.IsValid())
        {
            NavigationManager.NavigateTo("/config/general");
        }
    }

    /// <summary>
    /// Deletes all unfounded downloads.
    /// </summary>
    protected void DeleteUnfoundedDownload()
    {
        Task.Run(() =>
        {
            IsDeletingUnfounded = true;
            InvokeAsync(StateHasChanged);

            movieService.DeleteUnfoundedDownload();
            movies = DbContext.Movies.GetDownloadedMovies();

            IsDeletingUnfounded = false;
            InvokeAsync(StateHasChanged);
        });
    }

    public bool IsDeletingUnfounded { get; set; }

    /// <summary>
    /// Loads media information for a movie.
    /// </summary>
    /// <param name="movie">The movie to load media information for.</param>
    private void LoadMediaInfo(Movie movie)
    {
        foreach (var download in movie.DownloadedContents)
        {
            try
            {
                download.LoadMediaInfo();
            }
            catch (Exception ex)
            {
                SimpleLogger.AddLog("Impossible de lire les informations du fichier");
            }
        }

        DbContext.Movies.Update(movie);
    }

    /// <summary>
    /// Scans all movies for media information.
    /// </summary>
    protected void ScanAll()
    {
        Task.Run(() =>
        {
            CurrentlyScanAll = true;

            foreach (var movie in movies)
            {
                LoadMediaInfo(movie);
                InvokeAsync(StateHasChanged);
            }

            CurrentlyScanAll = false;
            InvokeAsync(StateHasChanged);
        });
    }


    #region SimpleMovieAction

    /// <summary>
    /// Opens the folder containing the movie.
    /// </summary>
    /// <param name="movie">The movie to open the folder for.</param>
    protected async Task OpenMovieFolder(Movie movie)
    {
        string path;

        if (movie.DownloadedContents.Any())
        {
            path = movie.DownloadedContents.FirstOrDefault().FullPath;
        }
        else
        {
            path = movie.GetPath();
        }

        await Electron.Shell.ShowItemInFolderAsync(path);
    }

    /// <summary>
    /// Scans the media information for a movie.
    /// </summary>
    /// <param name="movie">The movie to scan.</param>
    protected void Scan(Movie movie)
    {
        LoadMediaInfo(movie);
        StateHasChanged();
    }

    /// <summary>
    /// Transcodes a movie.
    /// </summary>
    /// <param name="movie">The movie to transcode.</param>
    protected void Transcode(Movie movie)
    {
        if (movie.DownloadedContents.Count == 1)
        {
            TranscodeService transcodeService = new TranscodeService();
            transcodeService.TranscodeContent(movie.DownloadedContents.FirstOrDefault());
        }
    }

    protected async Task RemapMovie(Movie movie)
    {
        var mainWindow = Electron.WindowManager.BrowserWindows.First();

        var options = new OpenDialogOptions
        {
            Properties = new OpenDialogProperty[] { OpenDialogProperty.openFile }
        };

        string[] files = await Electron.Dialog.ShowOpenDialogAsync(mainWindow, options);

        if (files.Any() && !string.IsNullOrWhiteSpace(files.First()))
        {
            movie.DownloadedContents.FirstOrDefault().FullPath = files.FirstOrDefault();
            DbContext.Movies.Update(movie);
        }
    }

    /// <summary>
    /// Handles the context menu for a cell in the data grid.
    /// </summary>
    /// <param name="args">The data grid cell mouse event arguments.</param>
    protected void OnCellContextMenu(DataGridCellMouseEventArgs<Movie> args)
    {
        selectedMovies = new List<Movie>() { args.Data };

        var contextMenuItems = new List<ContextMenuItem>();
        foreach (ImportedMovieContextMenuAction action in Enum.GetValues(typeof(ImportedMovieContextMenuAction)))
        {
            contextMenuItems.Add(new ContextMenuItem() { Text = action.GetDescription(), Value = (int)action });
        }

        ContextMenuService.Open(args, contextMenuItems, (e) =>
        {
            ImportedMovieContextMenuAction selectedAction = (ImportedMovieContextMenuAction)e.Value;
            Movie selectedMovie = args.Data;


            switch (selectedAction)
            {
                case ImportedMovieContextMenuAction.RemoveFromBd:
                    DbContext.Movies.Delete(selectedMovie.Id);
                    movies = DbContext.Movies.GetDownloadedMovies();
                    count = movies.Count();
                    StateHasChanged();
                    break;
                case ImportedMovieContextMenuAction.Transcode:
                    Transcode(selectedMovie);              
                    break;
                case ImportedMovieContextMenuAction.ScanMovie:
                    Scan(selectedMovie);
                    break;
                case ImportedMovieContextMenuAction.RemapMovie:
                    RemapMovie(selectedMovie);
                    break;
                case ImportedMovieContextMenuAction.OpenInExplorer:
                    OpenMovieFolder(selectedMovie);
                    break;
                default:
                    break;
            }

            ContextMenuService.Close();
        });
    }

    #endregion

    public IList<Movie> selectedMovies { get; set; }


    public enum ImportedMovieContextMenuAction
    {
        [Description("Ouvrir dans l'explorer")]
        OpenInExplorer = 1,

        [Description("Scanner avec MediaInfo")]
        ScanMovie = 2,

        [Description("Transcoder")]
        Transcode = 3,

        [Description("Modifier le chemin du Media")]
        RemapMovie = 4,

        [Description("Retirer de la base de donnée")]
        RemoveFromBd = 5,
    }
}
