@inject IMovieService movieService
@inject DialogService DialogService
@implements IDisposable;
@using System.Timers
@using MovManagerr.Core.Data.Abstracts


<div class="col-12 mt-0 pt-0">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Rechercher un film</RadzenText>
        <RadzenTextBox @oninput=@(args => InputQueryChanged(args.Value.ToString())) Class="w-100" />
    </RadzenCard>
</div>
<div class="col-12 movie-list my-2">
    <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Right" Count="count" PageSize="@(searchQuery.Take)" PageNumbersCount="5" PageChanged="@PageChanged" />
    <RadzenDataList WrapItems="true" AllowPaging="false" Data="@movies" TItem="Movie">
        <Template Context="movie">
            <RadzenCard Style="width:300px;">
                <img class="img-fluid" style="min-width : 100%" src="@(movie.Poster)">
                <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                <div class="row">
                    <div class="col-md-8 text-truncate">
                        <b>@(movie.Name)</b>
                    </div>
                    <div class="col-md-4 text-end float-right">
                        @foreach (var badge in movie.GetCombinedTags())
                        {
                            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text=@(badge) />
                        }
                    </div>
                </div>
                <div class="mt-3">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Outlined" Click=@(args => ShowMovieDialog(movie)) Text="Télécharger" />
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
    <RadzenDialog />
</div>

<style>
    .movie-list {
        overflow-y: hidden;
    }
</style>

@code {

    IEnumerable<Movie> movies;
    private ContentDownloaderClient contentDownloader;
    string pagingSummaryFormat = "Page {0} sur {1} (total {2} films)";
    int count;

    private Timer aTimer = default!;

    SearchQuery searchQuery;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        aTimer = new Timer(1000);
        aTimer.Elapsed += OnChange;
        aTimer.AutoReset = false;

        contentDownloader = ContentDownloaderClient.Instance;
        searchQuery = new SearchQuery()
                {
                    Skip = 0,
                    Take = 20
                };
    }

    protected void Download(Movie movie)
    {
        //contentDownloader.Download(movie);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            OnChange();
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    async Task ShowMovieDialog(Movie movie)
    {
        movie.SearchMovieOnTmdb();

        var result = await DialogService.OpenAsync("Confirmer le téléchargement", ds =>
    @<div>
        <p class="mb-4"><b>Voulez-vous télécharger le film : @(movie.Name)</b>?</p>

        <p class="my-2">Traduction de : @(movie.GetCustomData<string>("parsedFrom"))</p>

        @foreach (var downloadContent in movie.DownloadableContents)
        {
            RenderFragment renderFragment = (builder) => { builder.OpenComponent(0, downloadContent.GetType()); builder.CloseComponent(); };

            @if (downloadContent is DirectLinkDownload movieDownloadContent)
            {
                <div class="row mb-3">
                    <div class="col">
                        <RadzenCard>
                            <p>@movieDownloadContent.Link</p>
                            <a download="films" href="@movieDownloadContent.Link">Direct DL</a>
                        </RadzenCard>
                    </div>
                </div>
            }
        }

        <div class="row">
            <div class="col">
                <RadzenButton Text="Annuler" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" Class="me-1" />
            </div>
        </div>
    </div>
        );

        //if (result is bool confirm && confirm)
        //{
        //    Download(movie);
        //}
    }

    #region Content query

    protected void InputQueryChanged(string newQuery)
    {
        searchQuery.EnteredText = newQuery;
        aTimer.Stop();
        aTimer.Start();
    }

    protected async void OnChange(Object? source = null, ElapsedEventArgs e = null)
    {
        await InvokeAsync(() =>
        {
            if (string.IsNullOrWhiteSpace(searchQuery.EnteredText))
            {
                movies = movieService.GetAll(searchQuery.Skip, searchQuery.Take);
                count = movieService.GetCount();
            }
            else
            {
                movies = movieService.GetCandidates(searchQuery);
                count = movieService.GetCandidates(new SearchQuery() { EnteredText = searchQuery.EnteredText }).Count();
            }

            StateHasChanged();
        });
    }

    void PageChanged(PagerEventArgs args)
    {
        searchQuery.Skip = args.Skip;
        searchQuery.Take = args.Top;
        OnChange();
    }

    void IDisposable.Dispose() => aTimer?.Dispose();

    #endregion
}
