@*@page "/content/show/{ID}"

@inject IMovieService movieService;
@using MovManagerr.Core.Data.Abstracts;
@inject Radzen.DialogService dialogService
@inject IServiceProvider ServiceProvider

<div class="row">
    <div class="col d-flex">
        <img src="@Content.Poster" alt="Poster for @Content.Name" style="max-height: 250px" class="img-fluid">
        <div class="mx-3" style="max-width: 700px">
            <RadzenText TextStyle="TextStyle.Subtitle1">@Content.Name</RadzenText>

            @if (Content?.TmdbMovie != null)
            {
                <RadzenText TextStyle="TextStyle.Body1">@Content.TmdbMovie.Overview</RadzenText>
            }
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">

        <RadzenText TextStyle="TextStyle.Subtitle1">Téléchargement disponibles (@(downloadables.Count()))</RadzenText>

        @*        <img src="@Content.BackdropPath" alt="Background for @Content.Title" class="img-fluid">
        
    </div>

    <div class="col-md-12">
        <RadzenDataGrid @ref="downloadablesGrid" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" Data="@downloadables">
            <Columns>
                <RadzenDataGridColumn TItem="DownloadableContent" Property="Source" Title="Source" />
                <RadzenDataGridColumn TItem="DownloadableContent" Property="CodecVideo" Title="Codec vidéo" />
                <RadzenDataGridColumn TItem="DownloadableContent" Property="InfoAudio" Title="Info audio" />
                <RadzenDataGridColumn TItem="DownloadableContent" Property="Size" Title="Taille" />
                <RadzenDataGridColumn TItem="DownloadableContent" Property="Langues" Title="Langues" />
                <RadzenDataGridColumn TItem="DownloadableContent" Property="Quality" Title="Qualité" />
                <RadzenDataGridColumn TItem="DownloadableContent" Title="Actions" Frozen="true" Sortable="false" Filterable="false" Width="80px" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <RadzenButton IsBusy="data.IsDownloading" Click="(arg => Download(data))" Text="Télécharger"></RadzenButton>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-end">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="me-1" />
        <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Flat" Text="OK" Style="width: 120px" />
    </div>
</div>

@code {

    RadzenDataGrid<DownloadableContent> downloadablesGrid;
    IList<DownloadableContent> downloadables;
    Movie Content { get; set; }

    [Parameter] public LiteDB.ObjectId ID { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        Content = movieService.(ID);

        downloadables = Content.DownloadableContents;
    }

    protected void Download(DownloadableContent provider)
    {
        Content.Download(ServiceProvider, provider);
    }
}
*@